body {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgb(79, 79, 79));
    background-position: center;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 10px;
}
.boxed-div {
    border: 5px solid black;
    padding: 5px;
  }
h1 {
    color:black;
    font-familiy: Georgia;
    font-size: 300%;
}
h2 {
    color: black;
    font-familiy: sans-serif;
    font-size: 150%;
}